#ipyhon notebook dependencies
ipython
pyzmq
jinja2
tornado
jsonschema
matplotlib

#other dependencies
zerorpc

#Poppy dependencies
#-e git+https://github.com/poppy-project/pypot.git#egg=pypot
-e git+https://github.com/bumblebeefr/pypot#egg=pypot
-e svn+https://github.com/poppy-project/poppy-humanoid/trunk/software#egg=poppy_humanoid
-e svn+https://github.com/poppy-project/poppy-creature/trunk/software#egg=poppy_creature
poppy-ergo