#ipyhon notebook dependecies
ipython
pyzmq
jinja2
tornado
jsonschema
matplotlib


#Poppy dependencies
zerorpc
-e git+https://github.com/poppy-project/pypot.git#egg=pypot
-e svn+https://github.com/poppy-project/poppy-humanoid/trunk/software#egg=poppy_humanoid
poppy-ergo
